.profile__edit-profile {
    height: 24px;
    padding: 6px;
    border: 1px solid white;
    margin: 77px 0 0 18px;
    box-sizing: border-box;
}


@media screen and (max-width:568px) {
    .profile__edit-profile {
        margin: 0 0 6px 0;
        height: 18px;
        padding: 4.25px;
        align-self: flex-end;
    }
}
.profile__edit-profile:hover {
    opacity: .6;
}